body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    display: flex;
    font-family: 'helvetica';
    color: #F5832C;
    font-size: xx-large;
}

header .line-row img{
    display: flex;
    width: 150px;
    height: 150px;
    margin-left: -20px;
}

button {
    background-color: #fcc8a0;
    border-radius: 10px;
    font-family: 'helvetica';
    border: solid 1px #F5832C;
    color: #d36a1a;
    font-weight: bold;
    margin-top: 10px;
}


select {
    background-color: #fcc8a0;
    border-radius: 10px;
    font-family: 'helvetica';
    width: 150px;
    border: solid 3px #fcc8a0;
    margin-left: 5px;
    color: #d36a1a;
}

.line-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.articles .line-row {
    justify-content: space-between;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 110px;
}

.filter_authors {
    margin-right: 10px;
}

.articles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    grid-auto-rows: minmax(100px, auto);
}

.articles .all-of-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 3px solid #F5832C;
    border-radius: 20px;
    font-family: 'helvetica';
}

.article-stuff {
    margin: 30px;
}

.articles :hover{
    background-color: #fcc8a0;
}

.articles a{
    text-decoration: none;
    color: black;
}

.articles a:hover{
    text-decoration: none;
    color: #d36a1a;
}

.articles .article_destp {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    /* display: -moz-box;
    -moz-line-clamp: 4;
    -moz-box-orient: vertical; */
}

.read-more a{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    margin-top: 20px;
    color: #F5832C;
    font-weight: bold;
}

.tags {
    width: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 20px;
}

.line-row-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

footer .line-row {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'helvetica';
    margin-top: 10px;
    color: #F5832C;
    font-weight: bold;
    border-top: solid 3px #F5832C ;
    margin-top: 40px;
}

.go_back {
    width: 100%;
    display: flex;
    margin-left: 10px;
    font-weight: bold;
}

.go_back img {
    width: 10px;
    margin-right: 5px;
    margin-bottom: -4px;
}

.go_back a{
    font-family: 'helvetica';
    color: #F5832C;
    text-decoration: none;
}

.idv_articles {
    width: 100%;
    display: flex;
}

.idv_articles .article_destp {
    width: 90%;

}

.author-and-tags {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    color:#F5832C;
    font-weight: bold;
}

.idv-article-body {
    margin-right: 90px;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

.idv-article-body .article-image {
    display: flex;
    justify-content: center;
}

.idv-article-body .article-image img{
    width: 300px;
}

.idv-article-body a{
    color:#F5832C;
    text-decoration: none;
}

.idv-article-body a:hover{
    text-decoration: none;
    color: #d36a1a;
}

.idv-article-body h2 {
    color: #F5832C;
    font-family: 'helvetica';
    font-weight: bold;
}

.index-body {
    margin-right: 90px;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

.all-of-article h2 {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #F5832C;
    font-weight: bold;
}

.all-of-article h2 a{
    text-decoration: none;
    color: #F5832C;
}

/*//////////////////////////////responsive/////////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 1235px) {
    .articles {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: 40px;
        grid-auto-rows: minmax(100px, auto);
    }
    
  } 